layout {
    tab name="nvim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode} #[fg=#98971a,bold]{session}{tabs}"
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "false"
              border_char     "─"
              border_format   "#[fg=#d79921]{char}"  # yellow

              border_position "top"
              hide_frame_for_single_pane "true"

              mode_normal  "#[bg=#fbf1c7] "        # white (251 241 199)
              mode_tmux    "#[bg=#d65d0e] "        # orange (214 93 14)

              tab_normal   "#[fg=#3c3836] {name} " # black (60 56 54)
              tab_active   "#[fg=#cc241d,bold,italic] {name} " # red (204 36 29)

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=#98971a] {stdout} " # green (152 151 26)
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"

              datetime        "#[fg=#458588,bold] {format} " # blue (69 133 136)
              datetime_format "%A, %d %b %Y %H:%M"
              datetime_timezone "Europe/Berlin"
            }
        }
        children
    }
}
